html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px auto;
    max-width: 860px;
}

main {
    background-color: rgb(245, 244, 244);
    padding: 21px 68px;
}

/* thick line on top */
h1:before {
    border-top: 12px solid black;
    display: block;
    content: "";
    margin: 10px 0px;
    width: 200px;
}

h1 {
    line-height: 4rem;
}

h4 {
    line-height: 5rem;
}

label {
    clear: both;
    color: rgb(160, 160, 160);
    float:left;
    margin: 20px 0;
    text-align: left;
    width: 200px;
}

/* line before each fieldset */
legend:before {
    content: "";
    display: block;
    border-top: 2px solid black;
    width: 650px;
    margin: 10px 0px;
}

fieldset {
    border: 0em;
}

form {
    background-color: white;
    padding: 35px 35px 150px 35px;
}

input {
    border-color: lightgray;
    border-width: 0 0 1px;
    height: 25px;
    float: right;
    font-size: 1em;
    margin-top: 20px;
    text-align: left;
    outline: 0;
    width: 350px;
}

label {
    cursor: pointer; 
    height: 40px;
}

/* hide radio button */
input[type="radio"] {
    visibility:hidden;
}

input[placeholder="optional"] {
    font-style: italic;
}

/* two inputs into the same line */
.onerow {
    float: right;
    max-width: 350px;
    
    display: flex;
    flex-flow: row nowrap;
}

.onerow input[name="plz"] ,input[name="kanton"]   {
    width: 80px;
}

.onerow input[name="ort"], input[name="land"]  {
    width: 300%;
}

/* align the raido buttons using flexbox */
.radio-toolbar {
    float: right;
    max-width: 370px;

    display: flex;
    flex-flow: row nowrap;
}

/* radio button styling */
.radio-toolbar label {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

/* radio inputs into the same line */
.radio-toolbar label[for="weiblich"], label[for="maenner"] {
    width: 1000%;
    /* QQQ how to change the size of button */
}

.radio-toolbar label[for="de"], label[for="fr"], label[for="it"] {
    width: 700%;
}

.radio-toolbar input[type="radio"]:checked + label {
    border-bottom: 5px solid rgb(214, 49, 76);
}

.radio-toolbar label:hover {
    border-bottom: 5px solid pink;
}

.submit {
    background-color:  rgb(214, 49, 76);  
    border-radius: 7px;
    color: #FFF;
    font-size: 1.3rem; 
    font-weight: bold;
    height: 70px;
    padding: 10px 0;
    text-align: center;
    width: 180px;
  }
