header {
    text-align: right;
}

.headerimg {
    display: inline-block;
}

main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 500px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 25px;
}

#search {
    width: 430px;
    height: 40px;
    border: 1px solid #afafaf75;
    border-radius: 20px;
    padding-left: 50px;
}

#search:hover {
    box-shadow: 0 0 7px #afafaf75;
}

#buttons {
    padding: 10px 15px;
    border-radius: 5px;
    background-color:rgba(231, 230, 230, 0.493);
    border: 1px solid #afafaf13;
    font-size: 14px;
    color: rgb(105, 105, 105);
    margin-right: 10px;
}

#buttons:hover {
    border: 1px solid #afafaf75;
}

#buttonCenter {
    text-align:center;
}

p {
    text-align: center;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



a:link {
    text-decoration: none;   
}

a:hover {
    text-decoration: underline;
  }